.assisted-ui-vertical-margin {
  margin-top: var(--pf-v5-global--spacer--lg);
  margin-bottom: var(--pf-v5-global--spacer--lg);
}

.rich-input__rules {
  padding-top: var(--pf-v5-c-helper-text--Gap);
}

.rich-input__group {
  border-color: var(--pf-v5-global--BorderColor--300) var(--pf-v5-global--BorderColor--300)
    var(--pf-v5-global--BorderColor--200) var(--pf-v5-global--BorderColor--300);
  border-width: 1px;
  border-style: solid;
}

.rich-input__group--invalid {
  border-bottom-color: var(--pf-v5-global--danger-color--100);
}

.rich-input__text {
  border: none;
}

.ai-remove-button__tooltip {
  --pf-v5-c-tooltip__content--BackgroundColor: rgba(0, 0, 0, 0) !important;
  --pf-v5-c-tooltip__arrow--BackgroundColor: rgba(0, 0, 0, 0) !important;
  --pf-v5-c-tooltip__arrow--BoxShadow: rgba(0, 0, 0, 0) !important;
  --pf-v5-c-tooltip--BoxShadow: rgba(0, 0, 0, 0) !important;
  --pf-v5-c-tooltip__content--PaddingTop: 2.25em !important;
}

.ai-remove-button__tooltip--padding-none {
  --pf-v5-c-tooltip__content--PaddingTop: 0 !important;
}

.ai-pencil-field__text {
  padding-right: var(--pf-v5-global--spacer--sm);
}

.label-field__value {
  margin: 0 var(--pf-v5-global--spacer--sm) 0 0;
}

.label-field__input {
  border: 1px solid transparent;
  outline: none;
  width: 100%;
}

.label-field .react-autosuggest__suggestions-list {
  margin-left: var(--pf-v5-global--spacer-xs);
  margin-right: var(--pf-v5-global--spacer-xs);
  box-shadow: var(--pf-v5-global--BoxShadow--lg);

  max-height: 10rem;
  overflow: auto;
  list-style-type: none;
}

.label-field .react-autosuggest__suggestion {
  cursor: pointer;
}

.label-field .react-autosuggest__suggestion--highlighted {
  /* TODO(mlibra): maybe a lighter color would be better */
  background-color: var(--pf-v5-global--primary-color--light-100);
}

.label-field .react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: var(--pf-v5-global--FontSize--sm);
  color: var(--pf-v5-global--Color--200);
}

.label-field .react-tagsinput {
  width: 100%;
}

.table-no-padding {
  --pf-v5-c-table--m-compact--cell--first-last-child--PaddingLeft: 0 !important;
}

.events-modal__body {
  display: flex;
  flex-direction: column;
}

.events-modal__event-list {
  height: 34vh;
  overflow: auto;
}

.role-dropdown {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  white-space: nowrap;
}

.detail-list {
  display: block !important;
}

.detail-list dd {
  margin-bottom: var(--pf-v5-global--spacer--sm);
}

.detail-list ul ul,
.detail-list ul li {
  margin-top: var(--pf-v5-c-content--dt--sm--MarginTop);
}

pre.prism-code {
  padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--md);
  overflow-x: auto;
}

.cluster-wizard-step .pf-v5-c-wizard__nav-item {
  white-space: nowrap;
}

.wizard-nav-item-warning-icon {
  margin-left: var(--pf-v5-global--spacer--sm);
}

.cluster-wizard .cluster-wizard-step__footer {
  display: block !important;
  z-index: 90 !important;
}

.cluster-deployment-wizard .cluster-wizard-step__footer {
  display: block !important;
}

.cluster-wizard.pf-v5-c-wizard {
  --pf-v5-c-wizard__nav--Width: 19rem;
}

.pf-v5-c-wizard__inner-wrap {
  overflow: auto;
}

@media (min-width: 768px) {
  .cluster-wizard .cluster-wizard-step .pf-v5-c-wizard__main {
    /* That breaks scrollbar in the ClusterDeployment wizard. As a fix, the "cluster-wizard" class is on the ClusterWizard and CreateClusterWizard only. */
    overflow: inherit !important;
  }
}

.host-validation-groups__validation-group {
  margin-top: var(--pf-v5-global--spacer--md) !important;
  margin-bottom: var(--pf-v5-global--spacer--sm) !important;
}

.table-toolbar__dropdown {
  width: max-content;
}

.table-toolbar {
  padding: 0;
}

.table-toolbar .pf-v5-c-toolbar__content {
  padding: 0;
}

.hostname-preview {
  background-color: var(--pf-v5-global--BackgroundColor--200);
  padding: var(--pf-v5-global--spacer--sm);
  max-height: 10rem;
  overflow-y: auto;
}

.hostname-column__text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hostname-column {
  max-width: 30%;
}

.cluster-progress-bar {
  margin-top: -2rem; /* Progress.title property is string-only, we need to stack components as a workaround */
}

.ai-proxy-fields .pf-v5-c-check__body {
  width: 100%;
}

.cluster-toolbar {
  padding: 0 !important;
}
.cluster-toolbar__content {
  padding: 0 !important;
}

.operators-progress-item__operators-list {
  padding-left: 0 !important;
  list-style-type: none !important;
}

.cluster-summary-expandable .pf-v5-c-expandable-section__toggle {
  color: initial;
  font-weight: bold;
}

.host-table-alerts {
  padding-top: var(--pf-v5-global--spacer--lg) !important;
}

.hosts-table .pf-v5-c-dropdown__toggle-text {
  color: var(--pf-v5-global--Color--100) !important;
}

.hosts-table button {
  font-size: var(--pf-v5-c-table-cell--FontSize);
}

.hosts-table {
  height: 1rem; /* Workaround for: https://bugzilla.redhat.com/show_bug.cgi?id=1879378 in FF; The actual table height will be recalculated accordingly. */
}

.host-inventory-expandable .pf-v5-c-expandable-section__toggle {
  color: initial;
  font-weight: bold;
}

.review-table {
  width: fit-content;
  margin-bottom: 0.75rem;
}

.review-table tr > *:first-child {
  width: 13rem !important;
  padding-left: 0;
}

.review-expandable > .pf-v5-c-expandable-section__toggle {
  margin-right: 0;
  width: 100%;
  display: inline-flex;
}

.review-expandable .pf-v5-c-expandable-section__toggle-text {
  width: 100%;
}

.summary-expandable .pf-v5-c-expandable-section__toggle,
.review-expandable > .pf-v5-c-expandable-section__toggle {
  color: initial;
  text-align: left;
}

.summary-expandable
  > .pf-v5-c-expandable-section__toggle
  > .pf-v5-c-expandable-section__toggle-icon {
  visibility: hidden;
}

#form-input-openshiftVersion-field .pf-v5-c-dropdown__menu {
  max-height: 22vh;
  overflow: auto;
}

#available-openshift-versions-modal {
  height: 44vh;
  display: flex;
}
#customOpenshiftSelect .pf-v5-c-menu__content {
  max-height: 22vh;
}

.ai-certificate-fields .pf-v5-c-check__body {
  width: 100%;
}

#generate-discovery-iso-modal {
  height: 791px;
}

.pf-v5-c-form.pf-m-horizontal .static-config-type-label .pf-v5-c-form__group-label {
  padding-top: unset;
}

.pf-v5-c-form.pf-m-horizontal .static-config-type-label .pf-v5-c-form__label {
  vertical-align: text-top;
}

.vlan-id {
  margin-left: var(--pf-v5-global--spacer--md);
}

.mac-ip-mapping .pf-v5-c-form__label-text {
  color: var(--pf-v5-global--Color--200);
  font-size: var(--pf-v5-global--FontSize--md);
  font-weight: unset;
}

.machine-network .pf-l-flex > div:nth-child(1) {
  flex: 0 0 24rem;
}

.machine-network .pf-l-flex > div:nth-child(3) {
  flex: 0 0 6rem;
}

.machine-network .pf-v5-c-form__helper-text.pf-m-error {
  margin-top: unset;
}

.notification-item {
  position: relative;
  margin: 10px;
  word-break: break-word;
}
.notifications-portal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}

@media only screen and (max-width: 600px) {
  .notifications-portal {
    margin: 0;
    width: initial;
  }
}
@media only screen and (min-width: 768px) {
  .notifications-portal {
    margin: 30px;
    width: 708px;
  }
}
:root {
  --ins-color--orange: #ec7a08;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.ins-c-spinner {
  display: inline-flex;
}
.ins-c-spinner.ins-m-center {
  display: flex;
  justify-content: center;
}
.ins-c-spinner:before {
  content: "";
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  border-radius: 50%;
  border: 3px solid var(--pf-v5-global--active-color--200);
  border-top-color: var(--pf-v5-global--active-color--100);
  animation: spinner 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.ins-c-skeleton__xs {
  width: 16% !important;
}
.ins-c-skeleton__sm {
  width: 33% !important;
}
.ins-c-skeleton__md {
  width: 66% !important;
}
.ins-c-skeleton__lg {
  width: 100% !important;
}
.ins-c-skeleton.ins-m-dark {
  --pf-v5-c-skeleton--BackgroundColor: var(--pf-v5-global--palette--black-600);
  --pf-v5-c-skeleton--after--LinearGradientColorStop1: var(
    --pf-v5-global--palette--black-600
  );
  --pf-v5-c-skeleton--after--LinearGradientColorStop2: var(
    --pf-v5-global--palette--black-500
  );
  --pf-v5-c-skeleton--after--LinearGradientColorStop3: var(
    --pf-v5-global--palette--black-600
  );
}
:root {
  --ins-color--orange: #ec7a08;
}

.pf-v5-l-page__main-section.pf-v5-l-page-header.pf-m-dark-200 h1.pf-v5-c-title.pf-m-2xl, .pf-v5-l-page__main-section.pf-v5-l-page-header.pf-m-dark-200 * {
  color: #fff;
}

.pf-v5-l-page__main-section.pf-v5-l-page-header .pf-v5-c-breadcrumb {
  display: block;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
:root {
  --ins-color--orange: #ec7a08;
}

.ins-c-conditional-filter input {
  outline: none;
}
.ins-c-conditional-filter.mobile {
  display: none !important;
  visibility: hidden !important;
}
.ins-c-conditional-filter .pf-v5-c-select__toggle-wrapper .pf-v5-c-select__toggle-text {
  max-width: 150px;
  max-width: 9.375rem;
}
.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-menu-toggle__text {
  width: auto;
  text-align: left;
}
.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-menu-toggle__text > span {
  margin-right: var(--pf-v5-global--spacer--xs);
}
.ins-c-conditional-filter .ins-c-conditional-filter__group .ins-c-conditional-filter__no-label .pf-v5-c-dropdown__toggle-text {
  width: auto;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__menu-group {
  padding: 0;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__menu-group .pf-v5-c-select__menu-group-title:empty {
  display: none;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__option-button {
  padding: 0;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__menu-item-icon {
  display: none;
}
.ins-c-conditional-filter input.ins-c-conditional-filter[type=text] {
  padding-right: 35px;
  padding-right: 2.1875rem;
  margin-right: -23px;
  margin-right: -1.4375rem;
}
.ins-c-conditional-filter input.ins-c-conditional-filter[type=text] + svg {
  position: relative;
  left: -5px;
  left: -0.3125rem;
  top: 2px;
  top: 0.125rem;
}
.ins-c-conditional-filter .pf-v5-c-select__toggle-text {
  margin-right: 0;
}
.ins-c-conditional-filter .pf-v5-c-select__toggle-badge {
  display: none;
}
.ins-c-conditional-filter .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__text {
  flex: 1;
}
.ins-c-conditional-filter .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__text input {
  border: none;
}

.pf-v5-c-menu.ins-c-menu__scrollable {
  max-height: 416px;
  overflow-y: auto;
  min-width: initial;
}
.pf-v5-c-menu .ins-c-menu__show--more {
  background: none;
}
.pf-v5-c-menu .ins-c-menu__show--more .pf-v5-c-menu__item-text {
  color: var(--pf-v5-global--active-color--100);
}

@media only screen and (max-width: 768px) {
  .ins-c-conditional-filter.mobile {
    visibility: visible !important;
    display: grid !important;
  }
  .ins-c-conditional-filter.desktop {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (max-width: 884px) {
  .ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-dropdown__toggle-text {
    width: auto;
  }
  .ins-c-conditional-filter .ins-c-conditional-filter__group .ins-c-conditional-filter__value-selector {
    display: none;
  }
  .ins-c-conditional-filter .ins-c-conditional-filter__group .ins-c-conditional-filter__group {
    width: initial;
  }
}
:root {
  --ins-color--orange: #ec7a08;
}

button.ins-c-group-menu-toggle .pf-v5-c-form-control {
  margin: -1rem 0 -1rem 0;
}

button.pf-v5-c-menu-toggle {
  outline: none;
  max-width: 261px;
}

.ins-c-input__clearable {
  width: 93%;
}

.ins-c-icon__link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  color: var(--pf-v5-global--primary-color--100);
}
.ins-c-icon__link :hover {
  color: var(--pf-v5-global--primary-color--200);
}

.ins-c-tree-view .pf-v5-c-tree-view {
  padding: 0;
}
.ins-c-tree-view .pf-v5-c-menu__list-item {
  background: none;
}
.ins-c-tree-view .pf-v5-c-menu__list-item .pf-v5-c-menu__item {
  padding: 0;
}
.ins-c-tree-view .pf-v5-c-menu__list-item .pf-v5-c-menu__item .pf-v5-c-tree-view__content {
  background: none;
}
.ins-c-tree-view .pf-v5-c-menu__list-item .pf-v5-c-menu__item .pf-v5-c-tree-view__node {
  background: none;
}
:root {
  --ins-color--orange: #ec7a08;
}

.ins-c-conditional-filter input {
  outline: none;
}
.ins-c-conditional-filter.mobile {
  display: none !important;
  visibility: hidden !important;
}
.ins-c-conditional-filter .pf-v5-c-select__toggle-wrapper .pf-v5-c-select__toggle-text {
  max-width: 150px;
  max-width: 9.375rem;
}
.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-menu-toggle__text {
  width: auto;
  text-align: left;
}
.ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-menu-toggle__text > span {
  margin-right: var(--pf-v5-global--spacer--xs);
}
.ins-c-conditional-filter .ins-c-conditional-filter__group .ins-c-conditional-filter__no-label .pf-v5-c-dropdown__toggle-text {
  width: auto;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__menu-group {
  padding: 0;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__menu-group .pf-v5-c-select__menu-group-title:empty {
  display: none;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__option-button {
  padding: 0;
}
.ins-c-conditional-filter .pf-v5-l-split__item .pf-v5-c-select__menu-item-icon {
  display: none;
}
.ins-c-conditional-filter input.ins-c-conditional-filter[type=text] {
  padding-right: 35px;
  padding-right: 2.1875rem;
  margin-right: -23px;
  margin-right: -1.4375rem;
}
.ins-c-conditional-filter input.ins-c-conditional-filter[type=text] + svg {
  position: relative;
  left: -5px;
  left: -0.3125rem;
  top: 2px;
  top: 0.125rem;
}
.ins-c-conditional-filter .pf-v5-c-select__toggle-text {
  margin-right: 0;
}
.ins-c-conditional-filter .pf-v5-c-select__toggle-badge {
  display: none;
}
.ins-c-conditional-filter .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__text {
  flex: 1;
}
.ins-c-conditional-filter .pf-v5-c-menu-toggle .pf-v5-c-menu-toggle__text input {
  border: none;
}

.pf-v5-c-menu.ins-c-menu__scrollable {
  max-height: 416px;
  overflow-y: auto;
  min-width: initial;
}
.pf-v5-c-menu .ins-c-menu__show--more {
  background: none;
}
.pf-v5-c-menu .ins-c-menu__show--more .pf-v5-c-menu__item-text {
  color: var(--pf-v5-global--active-color--100);
}

@media only screen and (max-width: 768px) {
  .ins-c-conditional-filter.mobile {
    visibility: visible !important;
    display: grid !important;
  }
  .ins-c-conditional-filter.desktop {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (max-width: 884px) {
  .ins-c-conditional-filter .ins-c-conditional-filter__group .pf-v5-c-dropdown__toggle-text {
    width: auto;
  }
  .ins-c-conditional-filter .ins-c-conditional-filter__group .ins-c-conditional-filter__value-selector {
    display: none;
  }
  .ins-c-conditional-filter .ins-c-conditional-filter__group .ins-c-conditional-filter__group {
    width: initial;
  }
}
:root {
  --ins-color--orange: #ec7a08;
}

button.ins-c-group-menu-toggle .pf-v5-c-form-control {
  margin: -1rem 0 -1rem 0;
}

button.pf-v5-c-menu-toggle {
  outline: none;
  max-width: 261px;
}

.ins-c-input__clearable {
  width: 93%;
}

.ins-c-icon__link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  color: var(--pf-v5-global--primary-color--100);
}
.ins-c-icon__link :hover {
  color: var(--pf-v5-global--primary-color--200);
}

.ins-c-tree-view .pf-v5-c-tree-view {
  padding: 0;
}
.ins-c-tree-view .pf-v5-c-menu__list-item {
  background: none;
}
.ins-c-tree-view .pf-v5-c-menu__list-item .pf-v5-c-menu__item {
  padding: 0;
}
.ins-c-tree-view .pf-v5-c-menu__list-item .pf-v5-c-menu__item .pf-v5-c-tree-view__content {
  background: none;
}
.ins-c-tree-view .pf-v5-c-menu__list-item .pf-v5-c-menu__item .pf-v5-c-tree-view__node {
  background: none;
}
:root {
  --ins-color--orange: #ec7a08;
}

section.ins-l-content {
  padding: var(--pf-v5-global--spacer--lg);
}

section.ins-l-button-group {
  margin: 24px 0px;
  margin: 1.5rem 0rem;
}
section.ins-l-button-group > * {
  display: inline;
}
section.ins-l-button-group * + * {
  margin-left: 5px;
  margin-left: 0.3125rem;
}

section.ins-l-icon-group * + * {
  margin-left: 10px;
}

section.ins-l-icon-group__with-major * + * {
  margin-left: 7.5px;
}
section.ins-l-icon-group__with-major .ins-battery:last-of-type {
  padding-left: 15px;
  border-left: 2px solid #eaeaea;
}
section.ins-l-icon-group__with-major .ins-battery:last-of-type span.label {
  font-weight: 500;
  margin: 0 10px;
}
.pf-v5-l-page__main .pf-v5-l-page__main-section.pf-m-dark:not(:first-child) {
  background: var(--pf-v5-global--BackgroundColor--dark-transparent-100);
}
:root {
  --ins-color--orange: #ec7a08;
}
.ins-tab-layout > .ins-tabs div {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
  color: var(--pf-v5-global--link--Color);
}
.ins-tab-layout > .ins-tabs div.active {
  border-bottom: 3px var(--pf-v5-global--link--Color) solid;
}
.ins-tab-layout > .ins-tabs div:hover {
  color: var(--pf-v5-global--link--Color--hover);
  border-bottom: 3px var(--pf-v5-global--link--Color--hover) solid;
}
:root {
  --ins-color--orange: #ec7a08;
}

.ins-c-truncate button, .ins-c-truncate + button {
  padding: 0;
}

.ins-c-truncate.is-inline {
  margin-right: 10px;
  margin-right: 0.625rem;
}
:root {
  --ins-color--orange: #ec7a08;
}

.ins-c-reboot span {
  margin-left: 4px;
  margin-left: 0.25rem;
}
.ins-c-reboot.ins-m-red span, .ins-c-reboot.ins-m-red svg {
  color: var(--pf-v5-global--danger-color--100);
}
:root {
  --ins-color--orange: #ec7a08;
}

:root {
  --ins-c-table-toolbar--PaddingVertical: 16px;
  --ins-c-table-toolbar--PaddingHorizontal: 32px;
}

.ins-c-table__toolbar, .ins-c-table__toolbar-results {
  background: var(--pf-v5-global--Color--light-100);
  border-bottom: 1px solid var(--pf-v5-global--BorderColor--light-200);
  padding: var(--ins-c-table-toolbar--PaddingVertical) var(--ins-c-table-toolbar--PaddingHorizontal);
}

.ins-c-table__toolbar.ins-m-footer {
  border-top: 1px solid var(--pf-v5-global--BorderColor--light-200);
}

.ins-c-table__toolbar-results {
  color: var(--pf-v5-global--Color--200);
}

.ins-c-table__toolbar-results-count + .ins-c-table__toolbar-results-selected {
  margin-left: 15px;
  margin-left: 0.9375rem;
  padding-left: 15px;
  padding-left: 0.9375rem;
  border-left: 2px solid var(--pf-v5-global--BorderColor--light);
}

@media only screen and (max-width: 768px) {
  .ins-c-table__toolbar, .ins-c-table__toolbar-results {
    padding: 0 0;
  }
}
:root {
  --ins-color--orange: #ec7a08;
}

.ins-c-table__empty {
  background: var(--pf-v5-global--Color--light-100);
  border-bottom: 1px solid var(--pf-v5-global--BorderColor--light-200);
  padding: 20px;
  padding: 1.25rem;
}
.ins-c-table__empty.is-centered {
  display: flex;
  justify-content: center;
}
.ins-c-filter__dropdown .pf-v5-c-dropdown__menu-item:hover {
  background-color: inherit !important;
  outline: inherit !important;
}
.ins-c-filter__dropdown .pf-v5-c-dropdown__menu-item:focus {
  background-color: inherit !important;
  outline: inherit !important;
}
.ins-c-filter-input__checkbox{display:flex !important}.ins-c-filter-input__checkbox>label{flex:1}
.ins-c-chip-filters .ins-c-chip-group__plain.pf-m-toolbar > li:not(.pf-m-overflow) {
  background: none;
  padding: 0;
  background-color: initial;
}
.ins-c-chip-filters .ins-c-chip-group__plain.pf-m-toolbar > li:not(.pf-m-overflow) h4 {
  display: none;
}

.ins-c-chip-filters .pf-v5-c-chip-group:not(:last-child) {
  margin-right: var(--pf-v5-global--spacer--sm);
}

.ins-c-chip-filters .pf-v5-c-chip .pf-v5-c-badge {
  margin-left: var(--pf-v5-global--spacer--xs);
}
.ins-c-bulk-select .pf-v5-c-dropdown__toggle-check span.pf-v5-c-dropdown__toggle-text {
  display: initial;
}
.ins-c-bulk-select .ins-c-bulk-select__selected {
  display: none;
}

@media only screen and (max-width: 768px) {
  .ins-c-bulk-select .pf-v5-c-dropdown__toggle-check span.pf-v5-c-dropdown__toggle-text {
    display: none;
  }
  .ins-c-bulk-select .ins-c-bulk-select__selected {
    display: initial;
  }
}
.ins-c-tag-modal {
  height: calc(var(--pf-v5-global--spacer--4xl) + var(--pf-v5-global--breakpoint--md));
}
.ins-c-primary-toolbar .pf-v5-c-toolbar__item.ins-c-primary-toolbar__first-action {
  display: initial;
}
.ins-c-primary-toolbar .ins-c-primary-toolbar__first-action {
  display: none;
}
.ins-c-primary-toolbar .ins-c-primary-toolbar__pagination {
  margin-left: auto;
}
.ins-c-primary-toolbar .ins-c-primary-toolbar__sort-by {
  display: initial;
}
.ins-c-primary-toolbar .ins-c-primary-toolbar__overflow-actions, .ins-c-primary-toolbar .ins-c-primary-toolbar__overflow-actions-separator {
  display: none;
}
.ins-c-primary-toolbar .ins-m-actions--empty {
  display: none;
}
.ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter {
  flex-grow: initial;
}
.ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter .ins-c-primary-toolbar__filter {
  flex: initial;
}

@media only screen and (max-width: 768px) {
  .ins-c-primary-toolbar .pf-v5-c-toolbar__item.ins-c-primary-toolbar__first-action {
    display: none;
  }
  .ins-c-primary-toolbar .ins-c-primary-toolbar__first-action {
    display: block;
  }
  .ins-c-primary-toolbar .ins-c-primary-toolbar__sort-by {
    display: none;
  }
  .ins-c-primary-toolbar .ins-c-primary-toolbar__overflow-actions, .ins-c-primary-toolbar .ins-c-primary-toolbar__overflow-actions-separator {
    display: block;
  }
  .ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter {
    margin-right: 0;
    flex-grow: 1;
  }
  .ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter .ins-c-primary-toolbar__filter {
    flex: 1;
  }
  .ins-c-primary-toolbar .ins-m-actions--empty {
    display: block;
  }
}
.ins-c-inventory__culling-warning {
  color: var(--pf-v5-global--warning-color--200);
}

.ins-c-inventory__culling-danger {
  color: var(--pf-v5-global--danger-color--100);
}

.ins-c-inventory__culling-danger, .ins-c-inventory__culling-warning {
  font-weight: var(--pf-v5-global--FontWeight--bold);
}
.ins-c-inventory__culling-danger svg, .ins-c-inventory__culling-warning svg {
  margin-right: var(--pf-v5-global--spacer--sm);
}
.ins-c-empty-state__maintenance .pf-v5-c-empty-state__body {
  color: var(--pf-v5-global--Color--100);
}
.ins-c-empty-state__maintenance .pf-v5-c-empty-state__icon svg {
  fill: #EE0000;
}
.ins-c-empty-state__maintenance .pf-v5-c-title {
  font-weight: 500;
}
.ins-c-tagfilter .ins-c-tagfilter__option label {
  display: flex;
  width: 100%;
}
.ins-c-tagfilter .ins-c-tagfilter__option label .ins-c-tagfilter__option-value {
  max-width: 12.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ins-c-tagfilter .ins-c-tagfilter__option label .pf-v5-c-badge {
  margin-left: auto;
  padding-top: 0.2;
}
.ins-c-tagfilter .pf-v5-c-select__menu-group-title:empty {
  display: none;
}
.ins-c-tagfilter .pf-v5-c-select__menu > div {
  padding-top: 0;
}
.ins-c-tagfilter.pf-m-expanded {
  width: 18.75rem !important;
}

/*# sourceMappingURL=464.1925d18eb2a14a50.css.map*/